*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f3;
    padding: 20px; 
}
.container{
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 1);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
table{
width: 100%;
border-collapse: collapse;
margin-bottom: 20px;

}
th,td{
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}
select{
    padding: 5px;
    font-size: 1em;
    /* background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; */
}
button{
    padding: 5px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
background-color: #218838;}
.reset-btn{
    background-color: #dc3545;
    margin-top: 10px;
}
.reset-btn:hover{
    background-color: #b5c823;
}
@media  (max-width:600px) {
    table,thead,tbody,th,td,tr{
        display:block;
        width: 100%;
    }
    thead{display: none;}
    tr{margin-bottom: 10px;}
    td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        left: 10px;
        top: 12px;
        white-space: nowrap;
        font-weight: bold;
    }
    td::before{content:attr(data-lable);
        position: absoulte;
        left: 10px;
        top: 12px;
        white-space: nowrap;
        font-weight: bold;
    }

}
   
