/* #box{
    height: 200px;
    width: 100px;
    background-color: burlywood;
    border: 3px dashed aqua;
    /* border-radius: 29px; 

}*/

/* question no 2  */

.contant{
    color: red;

}

.newclass {
    background-color: greenyellow;
}

