body{
    background-color: burlywood;
    
}
#fourth{
    background-color: black;
    color: white;
    
}
.blue{
    background-color: rgb(188, 169, 24);
}
.red{
    background-color: rgb(101, 24, 188);
    color: white;
}
]